# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [83]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

from pprint import pprint

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [84]:
cities_data_file = "../WeatherPy/output_data/cities.csv"
cities_df = pd.read_csv(cities_data_file)
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bay roberts,47.60,-53.26,37.40,100,90,8.05,CA,1603862103
1,laguna,38.42,-121.42,57.00,58,1,3.36,US,1603861947
2,hambantota,6.12,81.12,84.87,67,94,6.73,LK,1603861997
3,narsaq,60.92,-46.05,30.20,80,75,1.12,GL,1603862104
4,castro,-24.79,-50.01,55.54,76,0,3.20,BR,1603862104

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [85]:
# Get the locations and Humidity
locations = cities_df[["Lat","Lng"]].astype('float')
humidity = cities_df["Humidity"].astype('float')

gmaps.configure(api_key=g_key)

fig = gmaps.figure(center=(45.5051064,-122.6750261), zoom_level=2)

heat_layer = gmaps.heatmap_layer(
    locations,
    weights=humidity,
    dissipating=False,
    max_intensity=100,
    point_radius = 1.25    
)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [86]:
ideal_vacation_weather = cities_df[
    (cities_df["Max Temp"] < 80) & 
    (cities_df["Max Temp"] > 65) &
    (cities_df["Wind Speed"] < 10) &
    (cities_df["Humidity"] < 75) &
    (cities_df["Cloudiness"] < 20)
]
ideal_vacation_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
33,arlit,18.74,7.39,73.62,18,3,8.55,NE,1603862113
45,salalah,17.02,54.09,78.80,54,0,2.24,OM,1603862116
71,bandarbeyla,9.49,50.81,78.67,63,4,5.30,SO,1603862125
76,kidal,18.44,1.41,74.50,18,7,7.72,ML,1603862126
111,tessalit,20.20,1.01,73.58,20,0,6.55,ML,1603862136
122,bambous virieux,-20.34,57.76,79.00,65,14,7.00,MU,1603862139
132,kutum,14.20,24.67,70.32,29,0,7.87,SD,1603862142
140,souillac,-20.52,57.52,79.00,65,4,7.00,MU,1603862144
151,upington,-28.45,21.26,73.40,25,0,3.09,ZA,1603862148
164,iranshahr,27.20,60.68,68.00,13,0,1.68,IR,1603862152
167,elat,29.56,34.95,75.20,38,0,6.93,IL,1603862153
169,quatre cocos,-20.21,57.76,79.00,65,16,7.00,MU,1603862154
171,santiago del estero,-27.80,-64.26,70.36,49,0,6.82,AR,1603862154
191,mitha tiwana,32.25,72.11,79.38,16,0,5.84,PK,1603862160
209,abu kamal,34.45,40.92,71.42,21,1,5.59,SY,1603862166
233,safaga,26.73,33.94,73.40,60,0,5.82,EG,1603862173
248,port lincoln,-34.73,135.87,65.57,57,0,2.73,AU,1603862178
262,ormara,25.21,64.64,79.38,41,0,6.22,PK,1603862183
268,hit,33.64,42.83,73.87,20,0,6.93,IQ,1603862185
297,mahebourg,-20.41,57.70,79.00,65,10,7.00,MU,1603862193
313,mungwi,-10.17,31.37,69.49,58,0,6.22,ZM,1603862198
315,doka,13.52,35.77,77.72,49,1,4.23,SD,1603862198
342,esna,25.29,32.55,73.40,64,0,4.70,EG,1603862207
347,sakaraha,-22.90,44.53,79.52,45,0,5.88,MG,1603862208
356,eyl,7.98,49.82,79.56,58,16,4.90,SO,1603862211
358,bilma,18.69,12.92,65.10,28,4,1.39,NE,1603862212
361,goundam,16.41,-3.67,79.63,16,12,6.11,ML,1603862212
365,senanga,-16.12,23.27,76.73,29,3,8.99,ZM,1603862213
383,port augusta,-32.50,137.77,73.99,35,0,8.05,AU,1603862218
384,kakching,24.48,93.98,79.54,72,11,1.86,IN,1603862218
391,antalaha,-14.90,50.28,79.61,61,0,4.79,MG,1603862220
410,sur,22.57,59.53,79.14,53,0,4.76,OM,1603862226
414,shakawe,-18.37,21.85,74.39,28,0,7.00,BW,1603862227
438,tsiroanomandidy,-18.77,46.03,77.25,49,4,4.59,MG,1603862233
494,zvishavane,-20.33,30.07,72.19,40,0,2.19,ZW,1603862248
530,wangjing,24.60,94.03,79.68,72,6,0.81,IN,1603862258
541,chinsali,-10.54,32.08,71.08,55,0,4.68,ZM,1603862260
542,qena,26.16,32.72,73.40,64,0,4.70,EG,1603862261

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [87]:
hotel_df = ideal_vacation_weather.copy(deep=True).reset_index(drop=True, inplace=False)
hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,arlit,18.74,7.39,73.62,18,3,8.55,NE,1603862113,
1,salalah,17.02,54.09,78.80,54,0,2.24,OM,1603862116,
2,bandarbeyla,9.49,50.81,78.67,63,4,5.30,SO,1603862125,
3,kidal,18.44,1.41,74.50,18,7,7.72,ML,1603862126,
4,tessalit,20.20,1.01,73.58,20,0,6.55,ML,1603862136,
5,bambous virieux,-20.34,57.76,79.00,65,14,7.00,MU,1603862139,
6,kutum,14.20,24.67,70.32,29,0,7.87,SD,1603862142,
7,souillac,-20.52,57.52,79.00,65,4,7.00,MU,1603862144,
8,upington,-28.45,21.26,73.40,25,0,3.09,ZA,1603862148,
9,iranshahr,27.20,60.68,68.00,13,0,1.68,IR,1603862152,
10,elat,29.56,34.95,75.20,38,0,6.93,IL,1603862153,
11,quatre cocos,-20.21,57.76,79.00,65,16,7.00,MU,1603862154,
12,santiago del estero,-27.80,-64.26,70.36,49,0,6.82,AR,1603862154,
13,mitha tiwana,32.25,72.11,79.38,16,0,5.84,PK,1603862160,
14,abu kamal,34.45,40.92,71.42,21,1,5.59,SY,1603862166,
15,safaga,26.73,33.94,73.40,60,0,5.82,EG,1603862173,
16,port lincoln,-34.73,135.87,65.57,57,0,2.73,AU,1603862178,
17,ormara,25.21,64.64,79.38,41,0,6.22,PK,1603862183,
18,hit,33.64,42.83,73.87,20,0,6.93,IQ,1603862185,
19,mahebourg,-20.41,57.70,79.00,65,10,7.00,MU,1603862193,
20,mungwi,-10.17,31.37,69.49,58,0,6.22,ZM,1603862198,
21,doka,13.52,35.77,77.72,49,1,4.23,SD,1603862198,
22,esna,25.29,32.55,73.40,64,0,4.70,EG,1603862207,
23,sakaraha,-22.90,44.53,79.52,45,0,5.88,MG,1603862208,
24,eyl,7.98,49.82,79.56,58,16,4.90,SO,1603862211,
25,bilma,18.69,12.92,65.10,28,4,1.39,NE,1603862212,
26,goundam,16.41,-3.67,79.63,16,12,6.11,ML,1603862212,
27,senanga,-16.12,23.27,76.73,29,3,8.99,ZM,1603862213,
28,port augusta,-32.50,137.77,73.99,35,0,8.05,AU,1603862218,
29,kakching,24.48,93.98,79.54,72,11,1.86,IN,1603862218,
30,antalaha,-14.90,50.28,79.61,61,0,4.79,MG,1603862220,
31,sur,22.57,59.53,79.14,53,0,4.76,OM,1603862226,
32,shakawe,-18.37,21.85,74.39,28,0,7.00,BW,1603862227,
33,tsiroanomandidy,-18.77,46.03,77.25,49,4,4.59,MG,1603862233,
34,zvishavane,-20.33,30.07,72.19,40,0,2.19,ZW,1603862248,
35,wangjing,24.60,94.03,79.68,72,6,0.81,IN,1603862258,
36,chinsali,-10.54,32.08,71.08,55,0,4.68,ZM,1603862260,
37,qena,26.16,32.72,73.40,64,0,4.70,EG,1603862261,

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "radius": 5000,
    "keyword": "hotel",
    "types": "lodging",
    "key": g_key,
}

for index, row in hotel_df.iterrows():
    
    lat = row['Lat']
    lng = row["Lng"]
    
    params['location'] = f"{lat},{lng}"
    
    response = requests.get(base_url, params=params)
    
    hotels = response.json()
    
    #pprint(hotels)
    
    try:
        hotel_name = hotels['results'][0]['name']
    except (KeyError, IndexError):
        hotel_name = "No Hotel Found"
        
    hotel_df.loc[index, "Hotel Name"] = hotel_name
    
hotel_df

In [80]:

fig = gmaps.figure(center=(45.5051064,-122.6750261), zoom_level=2)

heat_layer = gmaps.heatmap_layer(
    locations,
    weights=humidity,
    dissipating=False,
    max_intensity=100,
    point_radius = 1.25    
)

fig.add_layer(heat_layer)

In [81]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_locations = hotel_df[["Lat", "Lng"]]

In [82]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(
    hotel_locations,
    info_box_content=hotel_info
)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))